body {
  font-family: "Mulish";
}

.navbar-brand img {
  width: 41px;
  height: 41px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 24px;
  color: #233348;
}

.nav-item {
    font-size: 18px;
    font-weight: 400;
    color: #1F1534;
}

.nav-item.active a {
    font-weight: 700;
}

.header-content h3 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px;
}

.header-content p {
    font-size: 21px;
    font-weight: 600;
    color: #7D7987;
    margin-bottom: 45px;
}

.header-content button {
    border-radius: 55px;
    background-color: #458FF6;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}

/* our services */
.our-services {
    margin-top: 190px;
}

.our-services-header h4 {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    display: inline-block;
    padding-bottom: 26px;
    position: relative;
    margin-bottom: 33px;
}

.our-services-header h4::before {
    content: "";
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 35%;
    border-bottom: 3px solid #000;
}

.our-services-header p {
    margin-bottom: 80px;
}

.our-service-card img {
    width: 90;
    height: 90;
    margin-bottom: 22px;
}

.our-service-card h5 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

.our-service-card p {
    font-size: 16px;
    font-weight: 300;
    color: #7D7987;
}

.our-service-card .card {
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 37px;
    width: 350px !important;
    height: 350px !important;
}

.btn-trafalgar-outline {
    font-size: 18px;
    font-weight: 700;
    border-radius: 55px;
}

/* section 2 */
.sections {
    margin-top: 220px;
}

.sections h3 {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    display: inline-block;
    padding-bottom: 26px;
    position: relative;
    margin-bottom: 31px;
}

.sections h3::before {
    content: "";
    position: absolute;
    width: 20%;
    bottom: 0;
    border-bottom: 3px solid #000;
}

.sections p {
    font-size: 18px;
    font-weight: 300;
    color: #7D7987;
    margin-bottom: 37px;
}